<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorCode.Portable" version="1.0.3" targetFramework="net462" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net462" />
  <package id="itextsharp.xmlworker" version="5.5.13" targetFramework="net462" />
  <package id="itextsharp.xtra" version="5.5.13" targetFramework="net462" />
  <package id="Markdig" version="0.16.0" targetFramework="net462" />
  <package id="Markdig.SyntaxHighlighting" version="1.1.7" targetFramework="net462" />
  <package id="NLog" version="4.5.11" targetFramework="net462" />
  <package id="NLog.Config" version="4.5.11" targetFramework="net462" />
  <package id="NLog.Schema" version="4.5.11" targetFramework="net462" />
  <package id="Rotativa.Mini" version="1.0.2" targetFramework="net462" />
</packages>